.login-cadastro-container {
    background-image: url(fundoa.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-shadow: 8px 8px 8px rgba(179, 177, 177, 0.363);
}

.registro-container {
    background-color: #f8ecef;
    padding: 30px;
    align-self: center;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registro-container h2 {
    margin-bottom: 25px;
    color: rgb(238, 224, 68);
    font-size: 28px;
    text-shadow: 2px 0 #c94d6d, -2px 0 #c94d6d, 0 2px #c94d6d, 0 -2px #c94d6d,
    1px 1px #c94d6d, -1px -1px #c94d6d, 1px -1px #c94d6d, -1px 1px #c94d6d;
}

.registro-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registro-container input[type="text"],
.registro-container input[type="number"],
.registro-container select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
}

.registro-container input[type="text"]:focus,
.registro-container input[type="number"]:focus,
.registro-container select:focus {
    border-color: #b83b5e;
    outline: none;
}

.file-upload-label {
    display: block;
    padding: 12px;
    background-color: #dfe6e9;
    color: #333;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.file-upload-label:hover {
    background-color: #b2bec3;
}

.registro-container button {
    padding: 12px;
    background-color: #c94d6d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.registro-container button:hover {
    background-color: #b83b5e;
}

.anuncio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    height: 60%;
    width: 450px;
    background-color: #f9f4b5;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.anuncio img {
    width: 100%;
    max-width: 350px; 
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
